.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.input-group {
    display: flex;
    gap: 8px;
}

.input-group label {
    min-width: 140px;
    text-align: start;
} 

.input-group input {
    flex: 1;
}

.random-option {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    user-select: none;
}

.search-bar button {
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-40%);
    padding: 8px 12px;
    cursor: pointer;
    width: 7%;
}